@import "~assets/mixin.less";

@base:1/75;

.container{
  padding-top: @base*25rem;
  margin: 0 auto;
  background: #fff;
}

//赞列表
.praise-list-wrap{
    padding: @base*15rem @base*24rem;
    .setLine('top',#DEE0E7);
    .praise-number{
        padding: @base*15rem @base*35rem;
        .font-dpr(12px);
        color: #000000;
        line-height: @base*25rem;
        background: url("~assets/square/praise.png") no-repeat left center;
        background-size: @base*30rem;
    }
    .praise-avatar-wrap{
        .avatar-item{
            float: left;
            width: @base*70rem;
            height: @base*70rem;
            margin-right: @base*9rem;
            margin-bottom: @base*9rem;
            background: #F3F3F5;
            &:nth-child(9n){
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 100%;
                background: #F3F3F5;
            }
        }
    }
    .praise-more{
        .flex();
        .align-items(center);
        .justify-content(center);
        margin: @base*20rem 0 @base*15rem;
        a{
            .font-dpr(13px);
            color: #556994;
        }
        .arrow-right{
            margin-left: @base*5rem;
            display: block;
            width: @base*25rem;
            height: @base*25rem;
            background: url("~assets/square/arrow_right.png") no-repeat center center;
            background-size: @base*20rem;
        }
    }
}


//评论列表
.comment-list-wrap{
    padding: @base*15rem 0 @base*15rem @base*24rem;
    .setLine('top',#DEE0E7);
    &>.comment-title{
      padding-right: @base*15rem;
    }
    .comment-title{
        .flex();
        .justify-content(space-between);
        .comment-number{
            padding: @base*15rem 0 @base*15rem @base*38rem;
            .font-dpr(12px);
            color: #000000;
            line-height: @base*25rem;
            background: url("~assets/square/comment.png") no-repeat left @base*15rem;
            background-size: @base*30rem;
        }
        .comment-sort{
            padding: @base*15rem 0 @base*15rem @base*32rem;
            .font-dpr(12px);
            color: #7587AC;
            line-height: @base*25rem;
            background: url("~assets/square/sort.png") no-repeat left center;
            background-size: @base*25rem;
        }
    }
    .comment-item{
        padding: @base*26rem @base*15rem @base*20rem 0;
        .setLine('bottom',#DEE0E7);
        img{
            float: left;
            width: @base*70rem;
            height: @base*70rem;
            background: #F3F3F5;
        }
        .comment-info{
            margin-left: @base*90rem;
            margin-top: -@base*4rem;
            .comment-title{
                .flex();
                .justify-content(space-between);
                .nickname{
                    .font-dpr(15px);
                    color: #6A7BA1;
                    font-weight: 600;
                    .one-line();


                }
                .time{
                    min-width: @base*170rem;
                    .font-dpr(12px);
                    color: #767676;
                    text-align: right;
                }
            }
            .comment-content{
              margin-top: @base*4rem;
                .content{
                    .font-dpr(15px);
                    color: #282828;
                    line-height: @base*34rem;
                    word-break: break-all;
                }
                .sub-comment-wrap{
                    position: relative;
                    background: #f2f3f6;
                    margin-top: @base*20rem;

                    &::after{
                        content: '';
                        position: absolute;
                        top: -@base*10rem;
                        left: @base*50rem;
                        width: 0;
                        height: 0;
                        border-width: @base*12rem;
                        border-style: dashed;
                        border-color: transparent;
                        border-top-width: 0;
                        border-bottom-color: #f2f3f6;
                        border-bottom-style: solid;
                    }

                    .sub-comment-num{
                        margin-left: @base*12rem;
                        padding: @base*21rem 0 @base*10rem @base*35rem;
                        .font-dpr(12px);
                        color: #767676;
                        line-height: @base*25rem;
                        background: url("~assets/square/sub_comment.png") no-repeat left @base*23rem;
                        background-size: @base*28rem;
                    }
                    .sub-comment-list{
                        .sub-comment-item{
                            margin: 0 @base*12rem;
                            padding: @base*12rem 0;
                            &:not(:last-child){
                                .setLine('bottom',#DEE0E7);
                            }
                            img{
                                width: @base*70rem;
                                height: @base*70rem;
                                background: #F3F3F5;
                            }
                            .sub-comment-info{
                                margin-left: @base*90rem;
                                margin-top: -@base*4rem;
                                .sub-comment-title{
                                    .flex();
                                    .justify-content(space-between);
                                    .nickname{
                                        .font-dpr(15px);
                                        color: #6A7BA1;
                                        font-weight: 600;
                                        .one-line();

                                        .reply-word{
                                          color: #000;
                                          font-weight: normal;
                                        }
                                    }
                                    .time{
                                        min-width: @base*170rem;
                                        .font-dpr(12px);
                                        color: #767676;
                                        text-align: right;
                                    }
                                }
                                .sub-comment-content{
                                    margin-top: @base*10rem;
                                    .font-dpr(15px);
                                    color: #282828;
                                    word-break: break-all;
                                    line-height: @base*34rem;
                                }
                            }
                        }
                    }
                    .sub-comment-more{
                        .flex();
                        .align-items(center);
                        padding: 0 @base*12rem;
                        height: @base*100rem;
                        background: #F3F3F5;
                        .setLine('top',#DEE0E7);
                        a{
                            .font-dpr(13px);
                            color: #556994;
                        }
                        .arrow-down{
                            margin-left: @base*10rem;
                            display: block;
                            width: @base*25rem;
                            height: @base*25rem;
                            background: url("~assets/square/arrow_down.png") no-repeat center center;
                            background-size: @base*20rem;
                        }

                    }
                }
            }
        }

    }
}


.content-wrapper{
  position: relative;
  margin: 0 auto;
  padding-left: @base*132rem;
  padding-right: @base*20rem;
  padding-bottom: @base*30rem;
  .setLine('bottom',#dee0e7);

  .avatar{
    position: absolute;
    left: @base*28rem;
    top: @base*0rem;
    width: @base*84rem;
    height: @base*84rem;
  }

  .pub-name{
    display: block;
    color: #6A7BA1;
    font-weight: 600;
    line-height: @base*42rem;
    font-size: @base*30rem;
    margin-bottom: @base*9rem;
    .one-line();
  }

  .content{

    .content-detail{
      margin-bottom: @base*20rem;
      line-height: @base*35rem;
      font-size: @base*30rem;
      word-break: break-all;
    }

    .content-img{
      margin-bottom: @base*20rem;

      .pic{
        width: @base*158rem;
        height: @base*158rem;
        background: #fff;

        &.pic-block{
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        // img{
        //   display: block;
        //   margin: 0 auto;
        //   max-width:100%;
        //   max-height:100%;
        // }
      }

      &.full-pic,
      &.four-pic,
      &.one-row,
      &.two-row{
        display: grid;
        grid-column-gap: @base*10rem;
        grid-row-gap: @base*10rem;
        grid-template-columns: @base*158rem @base*158rem @base*158rem;
      }

      &.full-pic{
        grid-template-rows: @base*158rem @base*158rem @base*158rem;
      }

      &.one-row{
        grid-template-rows: @base*158rem;

      }

      &.two-row,
      &.four-pic{
        grid-template-rows: @base*158rem @base*158rem;
      }

      &.four-pic{
        grid-template-areas: "a b ."
                                    "c d .";

          .pic1{
            grid-area: a;
          }
          .pic2{
            grid-area: b;
          }
          .pic3{
            grid-area: c;
          }
          .pic4{
            grid-area: d;
          }
      }

      &.single-pic{


        .is-video,
        .pic1{
          position: relative;
          width: auto;
          height: auto;

          img{
              margin:0!important;
              max-width: @base*360rem;
              max-height: @base*360rem;
          }

          &.is-video{
            display: inline-block;
          }

          .play-btn{
            position: absolute;
            width: @base*82rem;
            height: @base*82rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url('~assets/video_icon.png') center center no-repeat;
            background-size: 100% 100%;
          }
        }
      }

    }

    .share-wrapper{
      position: relative;
      margin-top: @base*20rem;
      margin-bottom: @base*19rem;
      width: @base*600rem;
      height: @base*100rem;
      padding: @base*10rem;
      padding-left: @base*100rem;
      background: #f3f3f5;
      display: flex;
      align-items: center;

      .share-pic{
        position: absolute;
        width: @base*80rem;
        height: @base*80rem;
        top: @base*10rem;
        left: @base*10rem;
      }

      .share-content{
        line-height: @base*32rem;
        word-break: break-all;
        font-size: @base*28rem;
        .clamp(2);
      }
    }


    .address{
      margin-top: @base*20rem;
      margin-bottom: @base*16rem;
      font-size: @base*24rem;
      color: #6A7BA1;
      .one-line();
    }

    .func{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .time{
        font-size: @base*24rem;
        line-height: @base*24rem;
        color: #737373;
      }

      .leave-msg{
        display: block;
        float: right;
        width: @base*40rem;
        height: @base*30rem;
        background: url('~assets/share_comment.png') right center no-repeat;
        background-size: 100%;
      }
    }
  }

}

.video-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;

  video{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
