@import "~assets/mixin.less";

@base:1/75;

.container{
  padding-top: @base*25rem;
  margin: 0 auto;
  background: #fff;
}

//赞列表
.praise-list-wrap{
    padding: @base*15rem @base*24rem;
    .setLine('top',#DEE0E7);
    .praise-number{
        padding: @base*15rem @base*35rem;
        .font-dpr(12px);
        color: #000000;
        line-height: @base*25rem;
        background: url("~assets/square/praise.png") no-repeat left center;
        background-size: @base*30rem;
    }
    .praise-avatar-wrap{
        .avatar-item{
            float: left;
            width: @base*70rem;
            height: @base*70rem;
            margin-right: @base*9rem;
            margin-bottom: @base*9rem;
            background: #F3F3F5;
            &:nth-child(9n){
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 100%;
                background: #F3F3F5;
            }
        }
    }
    .praise-more{
        .flex();
        .align-items(center);
        .justify-content(center);
        margin: @base*20rem 0 @base*15rem;
        a{
            .font-dpr(13px);
            color: #556994;
        }
        .arrow-right{
            margin-left: @base*5rem;
            display: block;
            width: @base*25rem;
            height: @base*25rem;
            background: url("~assets/square/arrow_right.png") no-repeat center center;
            background-size: @base*20rem;
        }
    }
}


//评论列表
.comment-list-wrap{
    padding: @base*15rem 0 @base*15rem @base*24rem;
    .setLine('top',#DEE0E7);
    &>.comment-title{
      padding-right: @base*15rem;
    }
    .comment-title{
        .flex();
        .justify-content(space-between);
        .comment-number{
            padding: @base*15rem 0 @base*15rem @base*38rem;
            .font-dpr(12px);
            color: #000000;
            line-height: @base*25rem;
            background: url("~assets/square/comment.png") no-repeat left @base*15rem;
            background-size: @base*30rem;
        }
        .comment-sort{
            padding: @base*15rem 0 @base*15rem @base*32rem;
            .font-dpr(12px);
            color: #7587AC;
            line-height: @base*25rem;
            background: url("~assets/square/sort.png") no-repeat left center;
            background-size: @base*25rem;
        }
    }
    .comment-item{
        padding: @base*26rem @base*15rem @base*20rem 0;
        .setLine('bottom',#DEE0E7);
        img{
            float: left;
            width: @base*70rem;
            height: @base*70rem;
            background: #F3F3F5;
        }
        .comment-info{
            margin-left: @base*90rem;
            margin-top: -@base*4rem;
            .comment-title{
                .flex();
                .justify-content(space-between);
                .nickname{
                    .font-dpr(15px);
                    color: #6A7BA1;
                    font-weight: 600;
                    .one-line();


                }
                .time{
                    min-width: @base*170rem;
                    .font-dpr(12px);
                    color: #767676;
                    text-align: right;
                }
            }
            .comment-content{
              margin-top: @base*4rem;
                .content{
                    .font-dpr(15px);
                    color: #282828;
                    line-height: @base*34rem;
                    word-break: break-all;
                }
                .sub-comment-wrap{
                    position: relative;
                    background: #f2f3f6;
                    margin-top: @base*20rem;

                    &::after{
                        content: '';
                        position: absolute;
                        top: -@base*10rem;
                        left: @base*50rem;
                        width: 0;
                        height: 0;
                        border-width: @base*12rem;
                        border-style: dashed;
                        border-color: transparent;
                        border-top-width: 0;
                        border-bottom-color: #f2f3f6;
                        border-bottom-style: solid;
                    }

                    .sub-comment-num{
                        margin-left: @base*12rem;
                        padding: @base*21rem 0 @base*10rem @base*35rem;
                        .font-dpr(12px);
                        color: #767676;
                        line-height: @base*25rem;
                        background: url("~assets/square/sub_comment.png") no-repeat left @base*23rem;
                        background-size: @base*28rem;
                    }
                    .sub-comment-list{
                        .sub-comment-item{
                            margin: 0 @base*12rem;
                            padding: @base*12rem 0;
                            &:not(:last-child){
                                .setLine('bottom',#DEE0E7);
                            }
                            img{
                                width: @base*70rem;
                                height: @base*70rem;
                                background: #F3F3F5;
                            }
                            .sub-comment-info{
                                margin-left: @base*90rem;
                                margin-top: -@base*4rem;
                                .sub-comment-title{
                                    .flex();
                                    .justify-content(space-between);
                                    .nickname{
                                        .font-dpr(15px);
                                        color: #6A7BA1;
                                        font-weight: 600;
                                        .one-line();

                                        .reply-word{
                                          color: #000;
                                          font-weight: normal;
                                        }
                                    }
                                    .time{
                                        min-width: @base*170rem;
                                        .font-dpr(12px);
                                        color: #767676;
                                        text-align: right;
                                    }
                                }
                                .sub-comment-content{
                                    margin-top: @base*10rem;
                                    .font-dpr(15px);
                                    color: #282828;
                                    word-break: break-all;
                                    line-height: @base*34rem;
                                }
                            }
                        }
                    }
                    .sub-comment-more{
                        .flex();
                        .align-items(center);
                        padding: 0 @base*12rem;
                        height: @base*100rem;
                        background: #F3F3F5;
                        .setLine('top',#DEE0E7);
                        a{
                            .font-dpr(13px);
                            color: #556994;
                        }
                        .arrow-down{
                            margin-left: @base*10rem;
                            display: block;
                            width: @base*25rem;
                            height: @base*25rem;
                            background: url("~assets/square/arrow_down.png") no-repeat center center;
                            background-size: @base*20rem;
                        }

                    }
                }
            }
        }

    }
}


.content-wrapper{
  position: relative;
  margin: 0 auto;
  padding-left: @base*132rem;
  padding-right: @base*20rem;
  padding-bottom: @base*30rem;
  .setLine('bottom',#dee0e7);

  .avatar{
    position: absolute;
    left: @base*28rem;
    top: @base*0rem;
    width: @base*84rem;
    height: @base*84rem;
  }

  .pub-name{
    display: block;
    color: #6A7BA1;
    font-weight: 600;
    line-height: @base*42rem;
    .font-dpr(16px);
    margin-bottom: @base*9rem;
    .one-line();
  }

  .content{
      .content-detail{
          margin-bottom: @base*20rem;
          line-height: @base*35rem;
          .font-dpr(16px);
          word-break: break-all;
      }

      .share-wrapper{
          position: relative;
          margin-top: @base*20rem;
          margin-bottom: @base*19rem;
          width: @base*600rem;
          height: @base*100rem;
          padding: @base*10rem;
          padding-left: @base*100rem;
          background: #f3f3f5;
          display: flex;
          align-items: center;

          .share-pic{
              position: absolute;
              width: @base*80rem;
              height: @base*80rem;
              top: @base*10rem;
              left: @base*10rem;
          }

          .share-content{
              line-height: @base*32rem;
              word-break: break-all;
              font-size: @base*28rem;
              .clamp(2);
          }

      }

      .address{
          margin-top: @base*20rem;
          font-size: @base*24rem;
          color: #6A7BA1;
          .one-line();
      }

      .func{
          margin-top: @base*16rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .time{
              font-size: @base*24rem;
              line-height: @base*24rem;
              color: #737373;
          }
          .leave-msg{
              display: block;
              float: right;
              width: @base*30rem;
              height: @base*30rem;
              background: url('~assets/square/arrow_down2.png') right center no-repeat;
              background-size: 100%;
          }
      }

  }

}

.video-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;

  video{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.grid-area{
    display: grid;
    width: @base*582rem;
    &.grid-video{
        height: @base*360rem;
        position: relative;
        .play-btn{
            position: absolute;
            width: @base*82rem;
            height: @base*82rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url('~assets/video_icon.png') center center no-repeat;
            background-size: contain;
        }
    }
    &.grid-one{
        height: @base*360rem;
    }
    &.grid-two{
        grid-template-columns: @base*287rem @base*287rem;
        grid-column-gap: @base*8rem;
        .grid-item{
            height: @base*360rem;
        }
    }
    &.grid-three{
        grid-template-columns: @base*287rem @base*287rem;
        grid-template-rows: @base*175rem @base*175rem;
        grid-template-areas: "left right-top"
                             "left right-bottom";
        grid-row-gap: @base*8rem;
        grid-column-gap: @base*8rem;

        .grid-item{
            &:nth-child(1){
                height: @base*360rem;
                grid-area: left;
            }
            &:nth-child(2){
                height: @base*175rem;
                grid-area: right-top;
            }
            &:nth-child(3){
                height: @base*175rem;
                grid-area: right-bottom;
            }
        }
    }
    &.grid-four{
        grid-template-columns: @base*287rem @base*287rem;
        grid-template-rows: @base*175rem @base*175rem;
        grid-row-gap: @base*8rem;
        grid-column-gap: @base*8rem;
    }
    &.grid-five{
        grid-template-columns: @base*287rem @base*139rem @base*139rem;
        grid-template-rows: @base*175rem @base*175rem;
        grid-template-areas: "left middle-top right-top"
                             "left middle-bottom right-bottom";
        grid-column-gap: @base*8rem;
        grid-row-gap: @base*8rem;
        .grid-item{
            &:nth-child(1){
                height: @base*360rem;
                grid-area: left;
            }
            &:nth-child(2){
                height: @base*175rem;
                grid-area: middle-top;
            }
            &:nth-child(3){
                height: @base*175rem;
                grid-area: right-top;
            }
            &:nth-child(4){
                height: @base*175rem;
                grid-area: middle-bottom;
            }
            &:nth-child(5){
                height: @base*175rem;
                grid-area: right-bottom;
            }
        }
    }
    &.grid-more{
        grid-template-columns: @base*188rem @base*188rem @base*188rem;
        grid-row-gap: @base*8rem;
        grid-column-gap: @base*8rem;
        .grid-item{
            height: @base*175rem;
        }
    }
    .grid-item{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
