@import "~assets/mixin.less";

@base:1/75;
body,html{
  padding:0;
  margin:0;
  background: url('~assets/bg1.png') no-repeat;
  background-size: cover;
}
.container{
	padding: 0;
	margin:0;
}
.warm-wrap{
	padding-top: @base*414rem;
	.warm-content{
		width:100%;
	    text-align: center;
	    .para{
			font-size: @base*40rem;
	    	color:#FFF;
	    	margin-bottom: @base*425rem;
	    }
	    .share_finish{
			.btn(@base*670rem,@base*94rem,17px,#FFFFFF,#333333);
			.font-dpr(17px);
			.border-radius(@base*10rem);
			margin:@base*10rem 0;
		   .box-shadow(0 10px 50px 0 rgba(143,89,38,0.30));
	    }
	}
}
