@import "~assets/mixin.less";

@base:1/75;

@keyframes shake {
    0% {
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
    }
    100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
    }
}

body{
    &.full{
        overflow: hidden;
        background: #000;
    }
}

.video-player-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    z-index: 1;
    .transition(all .5s);
    &.landscape{
        position: fixed;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .video-player{
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0;
        margin: 0;
        z-index: 1;

        video{
            width: 100%;
            height: 100%;
            position: relative;
            &::-webkit-media-controls-enclosure{
                /*禁用播放器控制栏的样式*/
                display: none !important;
            }
        }
    }

    .video-title{
        position: relative;
        .font-dpr(14px);
        color: #bbb;
        padding: 0 10px;
        z-index: 20;
        line-height: 30px;
        top: -30px;
        overflow: hidden;
        height: 30px;
        transition: top .5s;

        &.show{
            top: 0;
        }

    }

    .video-poster{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .x-iconmode-new{
        background: url('~assets/new_player_icons.png') no-repeat;
        background-size: 375px 100px;
    }
    .x-iconmode{
        background: url('~assets/youku_sprite.png');
        background-size: 445px 375px;
    }
    .video-button{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 85;
        .video-play-ico{
            width: 63px;
            height: 63px;
            position: relative;
            left: 0;
            top: 50%;
            margin: -31px auto;
            background-position: -201px 1px;
        }
        .video-play{
            width: 41px;
            height: 41px;
            position: relative;
            left: 0;
            top: 50%;
            margin: -20px auto;
            background: url('~assets/play_btn.png') center center no-repeat;
            background-size: 41px 41px;
        }
        .video-pause{
            width: 41px;
            height: 41px;
            position: relative;
            left: 0;
            top: 50%;
            margin: -20px auto;
            background: url('~assets/pause_btn.png') center center no-repeat;
            background-size: 41px 41px;
            opacity: 0;
            transition: all .5s;
            &.show{
                opacity: 1;
            }
        }
        .video-time{
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-size: 12px;
            color: #FFFFFF;
            text-shadow: 0 2px 4px rgba(0,0,0,.5);
        }
    }
    .video-youkulogo{
        width: 80px;
        height: 27px;
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 31;
        background-position: -61px 0;
    }
    .x-video-loading{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 60;
        margin-left: -12px;
        margin-top: -12px;
        background: url('~assets/dd_video_loading.png');
        background-size: 24px 24px;
        -webkit-animation: shake 1s linear infinite;
        animation: shake 1s linear infinite;
    }
    .x-noticeshow{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
        font-size: 10px;
        z-index: 90;
        span{
            display: block;
            color: #a8a8a8;
            position: relative;
            margin: 0 auto;
            text-align: center;
            line-height: 34px;
            font-size: 14px;
        }
        .x-errortip{
            width: 100%;
            height: 126px;
            position: absolute;
            left: 0;
            right: 0;
            top: 30px;
            bottom: 0;
            margin: auto 0;
            .x-youkulogo{
                height: 32px;
                width: 120px;
                margin: 5px auto;
                background-position: -3px -278px;
            }
            .x-error-retry{
                width: 90px;
                height: 40px;
                position: relative;
                margin: 10px auto;
                background-position: -11px -48px;
            }
        }
    }
    .x-dashboard{
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: -60px;
        left: 0;
        z-index: 90;
        transition: bottom .5s;

        &.show{
            bottom: 0px;
        }

        .x-console-out{
            width: 100%;
            height: 55px;
            position: absolute;

            .x-console{
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                display: block;
                .i_fscreen{
                    width: 50px;
                    height: 40px;
                    background-position: -286px -46px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .i_pause,.i_play{
                    width: 55px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .i_play{
                    background-position: 5px 5px;
                }
                .i_pause{
                    background-position: 5px -40px;
                }
                .video_fscreen{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 12px;
                    right: 14px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('~assets/dd_video_fscreen.png');
                    &.video_shrink{
                        background-image: url('~assets/dd_video_shrink.png');
                    }
                }
                .video_play,.video_pause{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 12px;
                    left: 15px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .video_play{
                    background-image: url('~assets/dd_video_play.png')
                }
                .video_pause{
                    background-image: url('~assets/dd_video_pause.png')
                }
                .x-progress{
                    display: block;
                    top: -7px;
                    left: 0;
                    margin: 0 35px;
                    height: 45px;
                    position: relative;

                    .x-playtime,
                    .x-alltime{
                        position: absolute;
                        font-size: 12px;
                        color: #dedede;
                        width: 50px;
                        text-align: center;
                        top: 14px;
                    }

                    .x-playtime{
                        left: -5px;
                    }
                    .x-alltime{
                        right: -5px;
                    }

                    .x-progress-track{
                        top: 20px;
                        left: 0;
                        margin: 8px 45px 0;
                        background: rgba(255,255,255,.5);
                        position: relative;
                        height: 3px;
                        border-radius: 1.5px;
                        span{
                            height: 3px;
                            border-radius: 1.5px;
                        }
                        .x-progress-play{
                            background: #007AFF;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            .seekBtn{
                                display: block;
                                width: 15px;
                                height: 30px;
                                position: absolute;
                                right: -7px;
                                top: -12px;
                                background: 0 0!important;
                                border-radius: 100%;
                                &::before{
                                    content: '';
                                    width: 5px;
                                    height: 5px;
                                    background: #FFFFFF;
                                    position: absolute;
                                    z-index: 1;
                                    left: auto;
                                    right: 0;
                                    top: 50%;
                                    margin: -3px 5px 0 0!important;
                                    border-radius: 50%;
                                }
                                &::after{
                                    content: '';
                                    width: 15px;
                                    height: 15px;
                                    background: #fff;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    margin: -8px 0 0 -7.5px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }


        }
    }


}
