@import "~assets/mixin.less";

@base:1/75;

body,html{
  padding:0;
  margin:0;
  background: url('~assets/bg1.png') no-repeat;
  background-size: cover;
}

.warp {
	padding-top: @base*500rem;
	text-align: center;
	.para{
		font-size: @base*40rem;
		color:#FFF;
	}
}
