@import "~assets/mixin.less";

@base:1/75;

body{
    background: #F0F2F7;
}

.container{
    background: #F0F2F7;
}

.media-intro-header{
    .flex();
    height: @base*120rem;
    background: #F0F2F7;
    width: 100%;
    margin: -@base*50rem 0 0;
    position: relative;

    .avatar-wrap{
        .box-sizing();
        position: absolute;
        left: 50%;
        margin-left: -@base*61rem;
        bottom: -@base*30rem;
        width: @base*130rem;
        height: @base*130rem;
        padding: @base*1rem;
        .border-radius(50%);
        background: #F0F2F7;
        z-index: 1;
        figure{
            display: block;
            width: 100%;
            height: 100%;
        }
        .tap-avatar{
            display: block;
            width: 100%;
            height: 100%;
            border: @base*4rem solid #FFFFFF;
            background: #FFFFFF;
            .border-radius(50%);
            .avatar{
                width: 100%;
                height: 100%;
                .border-radius(50%);
            }
        }
    }
}

.media-intro{
    background:#FFFFFF;
    padding: @base*123rem @base*30rem @base*32rem;
    word-break: normal;
    word-wrap: break-word;
    // .font-dpr(15px)!important;
    // line-height: @base*42rem!important;
    .setLine('bottom',#DEE0E7);
    *{
        // .font-dpr(15px)!important;
        // line-height: @base*42rem!important;
        max-width: 100%!important;
    }
    table{
        width: 100%!important;
    }
    img{
        display: block;
        width: 100%!important;
        height: auto!important;
    }
    ul{
        list-style: disc inside;
        padding-left: 1em;
    }
    ol{
        list-style: decimal inside;
        padding-left: 1em;
    }
}

.media-handle-wrap{
    text-align: center;
    margin-top: @base*40rem;
    padding: 0 @base*40rem;
    .media-home{
        .border-radius(10px);
        .btn(100%,@base*94rem,34px,#007AFF,#FFFFFF);
        .font-dpr(17px);
        &:active{
            background: #0070EB;
            color: #99C5F7;
        }
    }
}
