@import "~assets/mixin.less";

@base:1/75;

html, body{
    background: #FFFFFF;
}

.media-index-wrap{
    .index-header{
        .flex;
        .flex-flow(column);
        .align-items(center);
        .avatar{
            width: @base*140rem;
            height: @base*140rem;
            .border-radius(50%);
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                .border-radius(50%);
            }
        }
        .name{
            margin-top: @base*30rem;
            .font-dpr(17px);
            font-weight: 600;
        }
    }
    .index-intro{
        padding: @base*56rem @base*60rem;
        word-break: normal;
        word-wrap: break-word;
        .font-dpr(14px);
        *{
            max-width: 100%!important;
        }
        table{
            width: 100%!important;
        }
        img{
            display: block;
            width: 100%!important;
            height: auto!important;
        }
        ul{
            list-style: disc inside;
            padding-left: 1em;
        }
        ol{
            list-style: decimal inside;
            padding-left: 1em;
        }
        blockquote{
            display: block;
            border-left: @base*8rem solid #d0e5f2;
            padding: @base*5rem @base*10rem;
            margin: @base*10rem 0;
            line-height: 1.4;
            font-size: 100%;
            background-color: #f1f1f1;
        }
        code{
            display: block;
            background-color: #f1f1f1;
            border-radius: @base*3rem;
            padding: @base*3rem @base*5rem;
            margin: 0 @base*3rem;
            .font-dpr(14px);
        }
    }
    .index-handle{
        text-align: center;
        padding: 0 @base*40rem;
        .media-home{
            .border-radius(@base*10rem);
            display: inline-block;
            width: @base*670rem;
            height: @base*94rem;
            line-height: @base*94rem;
            text-align: center;
            color: #FFFFFF;
            .font-dpr(17px);
            background: #007AFF;

            &:active{
                background: #0070EB;
                span{
                    color: #99C5F7;
                }
            }
        }
    }
}
