@import "~assets/mixin.less";

@base:1/75;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.common-fix{
  position: fixed;
  left: 50%;
  bottom: 0;
  width: @base*750rem;
  margin-left: -@base*375rem;
  padding: 0 @base*32rem;
  height: @base*112rem;
  line-height: @base*112rem;
  background: #FAFAFA;
  .logo-icon{
    float: left;
    width: @base*72rem;
    height: @base*112rem;
    background: url("~assets/logo_icon.png") no-repeat center center;
    background-size: @base*72rem  @base*72rem;
  }
  .logo-word-icon{
    margin: 0 @base*30rem;
    .font-dpr(14px);
    color: #3C3C3C;
    line-height: @base*112rem;
    vertical-align: middle;
    // width: @base*320rem;
    // height: @base*120rem;
    // background: url("~assets/logo_word_icon.png") no-repeat center center;
    // background-size: @base*320rem  @base*31rem;
  }
  .app-btn{
    margin: @base*26rem 0;
    float: right;
    width: @base*170rem;
    height: @base*60rem;
    line-height: @base*60rem;
    text-align: center;
    border: 1px solid #007AFF;
    .border-radius(@base*100rem);
    .font-dpr(14px);
    color: #007AFF;
  }
}

.ios-icon{
  display: block;
  width: @base*610rem;
  height: @base*520rem;
  background: url("~assets/ios.png") no-repeat center center;
  background-size: @base*610rem @base*520rem;
}

.android-icon{
  display: block;
  width: @base*610rem;
  height: @base*520rem;
  background: url("~assets/android.png") no-repeat center center;
  background-size: @base*610rem @base*520rem;
}

.common-footer{
  .common-code{
    margin: @base*45rem 0;
    .code{
      // float: left;
      // width: @base*210rem;
      // height: @base*210rem;
      width: 100%;
    }
    .common-follow{
      float: right;
      padding: @base*57rem 0;
      .follow-prompt{
        .font-dpr(15px);
        color: #333333;
        line-height: @base*42rem;
      }
      .follow-keywords{
        .font-dpr(13px);
        color: #BCBCBC;
        line-height: @base*38rem;
      }
    }
  }
  .source{
    .font-dpr(13px);
    color: #888888;
    line-height: @base*38rem;
  }
}

.setLefLine(){
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: @base*6rem;
    top: @base*28rem;
    width: 0;
    height: 100%;
    border-left: 1px solid #BEC3CF;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: -1;
  }
}

.dot(){
  background: url("~assets/circle_icon.png") no-repeat left center;
  background-size: @base*13rem @base*13rem;
}

.container{
    margin: 0 auto;
    width: 10rem;
    padding: @base*50rem @base*30rem @base*220rem;

    a{
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
}

.split-mark{
    margin: 0 -@base*30rem;
    height: @base*12rem;
    background: #F1F1F1;
}

.common-header{
    .flex();
    .align-items(center);
    margin-bottom: @base*30rem;
    .avatar-wrap{
        width: @base*84rem;
        height: @base*84rem;
        overflow: hidden;
        .tap-avatar{
            display: block;
            width: 100%;
            height: 100%;
        }
        .avatar{

        }
    }
    .name{
        margin-left: @base*18rem;
        .font-dpr(15px);
        font-weight: 500;
        a{
            color: @nameColor;
        }
    }
}

.common-info-wrap{
    .info-item{
        .flex();
        padding: @base*15rem 0;
        .label-name{
            min-width: @base*130rem;
            padding-left: @base*44rem;
            background-position: left @base*4rem;
            background-repeat: no-repeat;
            background-size:  @base*34rem @base*34rem;
            color: @noticeColor;
            .font-dpr(15px);
            &.label-name-time{
                .back-url-map(url('~assets/icon_time.png'),url('~assets/icon_time@1.5x.png'))
            }
            &.label-name-address{
                .back-url-map(url('~assets/icon_region.png'),url('~assets/icon_region@1.5x.png'))
            }
            &.label-name-address-detail{
                .back-url-map(url('~assets/icon_detail_address.png'),url('~assets/icon_detail_address@1.5x.png'))
            }
            &.label-name-industry{
                .back-url-map(url('~assets/icon_industry.png'),url('~assets/icon_industry@1.5x.png'))
            }
        }
        .label-detail{
            flex: 1;
            color: @noticeColor;
            .font-dpr(15px);
            &.label-detail-in24h{
                color: #737373;
                a{
                    color: #007AFF;
                    margin-right: @base*45rem;
                    &:active{
                        color: #0061CC;
                    }
                }
                .distance{
                    display: inline-block;

                }
            }
        }
    }
}

.common-title-wrap{
    padding: @base*25rem 0;
    .font-dpr(19px);
    color: #000000;
    line-height: @base*44rem;
}

.common-notice-wrap{
    padding: @base*14rem 0 @base*24rem;
    .notice-list-wrap{
        .notice-title{
            padding-left: @base*50rem;
            .font-dpr(15px);
            color: @noticeColor;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: @base*36rem @base*36rem;
            .back-url-map(url("~assets/icon_notice.png"),url("~assets/icon_notice@1.5x.png"));
            word-break: break-all;
        }
        .notice-list{
            padding-left: @base*12rem;
            color: @noticeColor;
            .font-dpr(15px);

            .notice-item{
                word-break: break-all;
                padding-top: @base*16rem;
                .setLefLine();

                &:first-child{
                    color: @notice;
                    .notice-time{
                        background: none;
                    }
                }
                &:last-child{
                    &:before{
                        border-left: none;
                    }
                }
                .notice-time{
                    .dot();
                    .font-dpr(13px);
                    padding-left: @base*40rem;
                }
                .notice-content{
                    padding-left: @base*40rem;
                }
            }
        }
    }
}

.common-detail-wrap{
    padding: @base*14rem 0 @base*10rem;
    .detail-title{
        padding-left: @base*50rem;
        .font-dpr(15px);
        color: @noticeColor;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_detail.png"),url("~assets/icon_detail@1.5x.png"));
    }
    .detail-content{
        margin-top: @base*25rem;
        // padding-left: @base*50rem;
        .font-dpr(17px);
        color: #000000;
        line-height: @base*54rem;
    }
    img{
        display: block;
        margin-top: @base*20rem;
        width: 100%;
    }
}

.common-address{
    .font-dpr(12px);
    line-height: @base*38rem;
    a{
        color: #6A7BA1;
        &:active{
            color: #556483;
        }
    }
}

.common-comment-wrap{
    .flex();
    .align-items(center);
    .justify-content(space-between);
    line-height: @base*38rem;
    .publish-time{
        .font-dpr(12px);
        color: #828282;
    }
    .show-access{
        margin-left: @base*30rem;
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.member{
            background-image: url("~assets/member_icon.png");
          }
          &.member-join{
            background-image: url("~assets/member_join_icon.png");
          }
          &.member-part{
            background-image: url("~assets/member_part_icon.png");
          }
          &.only-friend{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
          &.part{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
        }
    }

    .comment-wrap{
        .flex();
        .align-items(center);
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.comment{
              background-image: url("~assets/comment_icon.png");
          }
      }
      .comment-num{
          padding-left: @base*9rem;
          .font-dpr(10px);
          color: #737373;
      }
    }
}
.common-publish-wrap{
    .flex();
    .align-items(center);

    line-height: @base*38rem;
    .publish-time{
        .font-dpr(12px);
        color: #828282;
    }
    .show-access{
        margin-left: @base*30rem;
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.member{
            background-image: url("~assets/member_icon.png");
          }
          &.member-join{
            background-image: url("~assets/member_join_icon.png");
          }
          &.member-part{
            background-image: url("~assets/member_part_icon.png");
          }
          &.only-friend{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
          &.part{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
        }
    }
}

.common-deadline-wrap{
    margin: @base*34rem 0 @base*50rem;
    .flex();
    .justify-content(space-between);
    .font-dpr(14px);
    color: #828282;
    .deadline{
        [data-dpr='1'] & {
          height: @base*36rem;
          background-position: left top;
        }
        padding-left: @base*46rem;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_deadline.png"),url("~assets/icon_deadline@1.5x.png"));
        &.over{
            .back-url-map(url("~assets/icon_deadline_finished.png"),url("~assets/icon_deadline_finished@1.5x.png"));
        }
    }
    .limit{
        line-height: @base*36rem;
    }
}

.common-sign-list-wrap{
    width: 10rem;
    margin: 0 -@base*30rem;
    padding: @base*25rem 0;
    .setLine('top',#E5E5E5);
    .sign-wrap{
        padding: 0 @base*30rem;

        &:active{
            background: #ECEFF0;
        }
        .flex();
        .justify-content(space-between);
        line-height: @base*80rem;

        .num{
            .font-dpr(15px);
            color: #333333;
        }
        .arrow{
            display: block;
            width: @base*16rem;
            height: @base*80rem;
            background: url("~assets/arrow_right.png") no-repeat center center;
            background-size: contain;
        }

    }
}

.common-review-wrap{
    margin-top: @base*60rem;
    .review-title{
        padding-left: @base*50rem;
        .font-dpr(15px);
        color: @noticeColor;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_review.png"),url("~assets/icon_review@1.5x.png"));
    }
    .review-content{
        margin-top: @base*25rem;
        // padding-left: @base*50rem;
        .font-dpr(17px);
        color: #000000;
        line-height: @base*54rem;
    }
    img{
        display: block;
        margin-top: @base*20rem;
        width: 100%;
    }
}

.common-edit-wrap{
    margin-top: @base*65rem;
    text-align: center;
    .edit-btn{
        &:active{
            border-color: #0D69CF;
            color: #0D69CF;
        }
        .border-radius-dpr(5px);
        .btn-border(@base*670rem,@base*94rem,17px,#FFFFFF,#007AFF,#007AFF);
        .font-dpr(17px);
    }
}

.common-sign-wrap{
    padding: @base*55rem 0 @base*50rem;
    text-align: center;
    .sign-btn{
        &:active{
            background-color: #0061CC;
            color: #99BFEA;
        }
        .border-radius(50%);
        .btn(@base*120rem,@base*120rem,18px,#007AFF,#FFFFFF);
        .font-dpr(17px);
        &.disabled{
            background: #E7E7E7;
            color: #888888;

            &:active{
                background-color: #DEDEDE;
                color: #B0B0B0;
            }
        }
    }
    .communicate-btn{
        &:active{
            background-color: #0061CC;
            color: #99BFEA;
        }
        .border-radius(50%);
        .btn(@base*120rem,@base*120rem,18px,#007AFF,#FFFFFF);
        .font-dpr(18px);
    }
}


.common-circle-header{
    .flex();
    height: @base*120rem;
    background: #F5F5F5;
    width: @base*750rem;
    margin: -@base*50rem -@base*30rem @base*130rem;
    position: relative;

    .avatar-wrap{
        position: absolute;
        left: 50%;
        margin-left: -@base*61rem;
        bottom: -@base*26rem;
        width: @base*122rem;
        height: @base*122rem;
        border: @base*4rem solid #FFFFFF;
        .border-radius(50%);
        overflow: hidden;
        background: #FFFFFF;
        .tap-avatar{
            display: block;
            width: 100%;
            height: 100%;
            .border-radius(50%);
            img{
                .border-radius(50%);
            }
        }
    }
}

.common-circle-news-wrap{
    .circle-news-title{
        .font-dpr(24px);
        color: #000000;
        line-height: @base*60rem;
    }
    .circle-news-source{
        margin-top: @base*44rem;
        .source{
            .font-dpr(12px);
            color: #737373;
            line-height:  @base*24rem;
        }
    }
    .circle-news-detail{
        margin-top: @base*66rem;
        .detail-content{
            .font-dpr(19px);
            color: #000000;
            line-height: @base*64rem;
            margin-bottom: 10px;
        }
        img{
            display: block;
            margin-top: @base*20rem;
            width: 100%;
            &.first{
                margin-top: @base*30rem;
            }
        }
    }
    .circle-news-code{
        .flex();
        .flex-flow(column);
        .justify-content(space-between);
        .align-items(center);
        margin-top: @base*20rem;
        margin-bottom: 10px;
        padding: @base*110rem 0;
        width: 100%;
        height: @base*755rem;
        background: #EFEFEF;
        .name{
            .font-dpr(18px);
            color: #000000;
        }
        .code-wrap{
            width: @base*328rem;
            height: @base*328rem;
            margin-bottom: @base*26rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .word{
            .font-dpr(13px);
            color: #808080;
        }
    }
}
