@import "~assets/mixin.less";

@import "~page/common/wangeditor.less";

@base:1/75;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -o-box-sizing:      border-box;
  -ms-box-sizing:     border-box;
  box-sizing:         border-box;
}

.common-fix{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 @base*30rem;
  height: @base*112rem;
  .flex();
  .justify-content(space-between);
  background: #FAFAFA;
  z-index: 100;
  .common-fix-icon{
      margin: @base*20rem 0;
      width: @base*400rem;
      height: @base*72rem;
      background: url('~assets/common_fix_icon.png') left center no-repeat;
      background-size: contain;
  }
  .logo-icon{
    float: left;
    width: @base*72rem;
    height: @base*112rem;
    background: url("~assets/logo_icon.png") no-repeat center center;
    background-size: @base*72rem  @base*72rem;
  }
  .logo-word-wrap{
      height: 100%;
      .flex();
      .flex-flow(column);
      .justify-content(center);
      margin-left: @base*102rem;
      .logo-word-icon{
          margin-top: @base*5rem;
        .font-dpr(14px);
        color: #3C3C3C;
      }
      .logo-word{
          .font-dpr(10px);
          color: #666666;
          text-align: right;
      }
  }

  .app-btn{
    margin: @base*26rem 0;
    float: right;
    .border-radius(@base*100rem);
    .btn(@base*170rem,@base*60rem,14px,#007AFF,#FFFFFF);
    .font-dpr(14px);
    background-image: linear-gradient(-90deg, #FB5E0A 0%, #F6730A 100%);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    &:active{
        background-image: linear-gradient(-90deg, #E65202 0%, #E56500 100%);
        span{
            opacity: .6;
        }
    }
  }
}

.ios-icon{
  display: block;
  width: @base*610rem;
  height: @base*520rem;
  background: url("~assets/ios.png") no-repeat center center;
  background-size: contain;
}

.android-icon{
  display: block;
  width: @base*610rem;
  height: @base*520rem;
  background: url("~assets/android.png") no-repeat center center;
  background-size: contain;
}

.common-footer{
  .common-code{
    margin: @base*45rem 0;
    .code{
      width: 100%;
    }
    .common-follow{
      float: right;
      padding: @base*57rem 0;
      .follow-prompt{
        .font-dpr(15px);
        color: #333333;
        line-height: @base*42rem;
      }
      .follow-keywords{
        .font-dpr(13px);
        color: #BCBCBC;
        line-height: @base*38rem;
      }
    }
  }
  .source{
    .font-dpr(13px);
    color: #888888;
    line-height: @base*38rem;
  }
}

.setLefLine(){
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: @base*6rem;
    top: @base*28rem;
    width: 0;
    height: 100%;
    border-left: 1px solid #BEC3CF;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: -1;
  }
}

.dot(){
  background: url("~assets/circle_icon.png") no-repeat left center;
  background-size: @base*13rem @base*13rem;
}

.container{
    margin: 0 auto;
    width: 100%;
    padding: @base*50rem 0 @base*220rem;

    &::-webkit-scrollbar {
        width: 0px;
        height: 1px;
     }
     &::-webkit-scrollbar-thumb {
         border-radius: 5px;
         -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
         background: rgba(0, 0, 0, 0.2);
     }

    a{
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
}

.split-mark{
    width: 100%;
    height: @base*12rem;
    background: #F0F2F7;
}

.common-header{
    .flex();
    .align-items(center);
    margin-bottom: @base*30rem;
    padding: 0 @base*30rem;
    .avatar-wrap{
        width: @base*84rem;
        height: @base*84rem;
        overflow: hidden;
        figure{
            display: block;
            width: 100%;
            height: 100%;
        }
        .tap-avatar{
            display: block;
            width: 100%;
            height: 100%;
            .avatar{
                width: 100%;
                height: 100%;
            }
        }

    }
    .name{
        margin-left: @base*18rem;
        .font-dpr(15px);
        font-weight: 500;
        a{
            color: @nameColor;
        }
    }
}

.common-info-wrap{
    .info-item{
        .flex();
        padding: @base*15rem @base*30rem;
        .label-name{
            min-width: @base*130rem;
            padding-left: @base*44rem;
            background-position: left @base*4rem;
            background-repeat: no-repeat;
            background-size:  @base*34rem @base*34rem;
            color: @noticeColor;
            .font-dpr(15px);
            &.label-name-time{
                .back-url-map(url('~assets/icon_time.png'),url('~assets/icon_time@1.5x.png'))
            }
            &.label-name-address{
                .back-url-map(url('~assets/icon_region.png'),url('~assets/icon_region.png'))
            }
            &.label-name-address-detail{
                .back-url-map(url('~assets/icon_detail_address.png'),url('~assets/icon_detail_address@1.5x.png'))
            }
            &.label-name-industry{
                .back-url-map(url('~assets/icon_industry.png'),url('~assets/icon_industry@1.5x.png'))
            }
            &.label-name-location{
                .back-url-map(url('~assets/icon_address.png'),url('~assets/icon_address.png'))
            }
        }
        .label-detail{
            flex: 1;
            color: @noticeColor;
            .font-dpr(15px);
            word-break: normal;
            word-wrap: break-word;
            &.label-detail-in24h{
                color: #737373;
                a{
                    .box-sizing();
                    color: #007AFF;
                    &:active{
                        color: #0061CC;
                    }
                }
                .distance{
                    padding-left: 20px;
                    float: right;
                }
            }
        }
    }
}

.common-title-wrap{
    padding: @base*25rem @base*30rem;
    .font-dpr(19px);
    color: #000000;
    line-height: @base*44rem;
    word-break: normal;
    word-wrap: break-word;
}

.common-notice-wrap{
    padding: @base*14rem @base*30rem @base*24rem;
    .notice-list-wrap{
        .notice-title{
            padding-left: @base*50rem;
            .font-dpr(15px);
            color: @noticeColor;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: @base*36rem @base*36rem;
            .back-url-map(url("~assets/icon_notice.png"),url("~assets/icon_notice@1.5x.png"));
            word-break: normal;
            word-wrap: break-word;
        }
        .notice-list{
            padding-left: @base*12rem;
            color: @noticeColor;
            .font-dpr(15px);

            .notice-item{
                word-break: normal;
                word-wrap: break-word;
                padding-top: @base*16rem;
                .setLefLine();

                &:first-child{
                    color: @notice;
                    .notice-time{
                        background: none;
                    }
                }
                &:last-child{
                    &:before{
                        border-left: none;
                    }
                }
                .notice-time{
                    .dot();
                    .font-dpr(13px);
                    padding-left: @base*40rem;
                }
                .notice-content{
                    padding-left: @base*40rem;
                }
            }
        }
    }
}

.common-detail-wrap{
    padding: @base*14rem @base*30rem @base*10rem;
    .detail-title{
        padding-left: @base*50rem;
        .font-dpr(15px);
        color: @noticeColor;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_detail.png"),url("~assets/icon_detail@1.5x.png"));
    }
    .detail-content{
        margin-top: @base*25rem;
        .font-dpr(17px);
        word-break: normal;
        word-wrap: break-word;
        *{
            max-width: 100%!important;
        }
        table{
            width: 100%!important;
        }
        ul{
            list-style: disc inside;
            padding-left: 1em;
        }
        ol{
            list-style: decimal inside;
            padding-left: 1em;
        }
        img{
            display: block;
            margin: @base*10rem 0;
            width: 100%!important;
            height: auto!important;
        }
        video{
            display: block;
            width: 100%!important;
            height: @base*390rem!important;
            background: #000000;
            margin-top: @base*20rem;
        }
        audio{
            display: block;
            width: 100%!important;
        }
        blockquote{
            display: block;
            border-left: @base*8rem solid #d0e5f2;
            padding: @base*5rem @base*10rem;
            margin: @base*10rem 0;
            line-height: 1.4;
            font-size: 100%;
            background-color: #f1f1f1;
        }
        code{
            display: block;
            background-color: #f1f1f1;
            border-radius: @base*3rem;
            padding: @base*3rem @base*5rem;
            margin: 0 @base*3rem;
            .font-dpr(14px);
        }
    }

}

.common-address{
    padding: 0 @base*30rem;
    .font-dpr(12px);
    line-height: @base*38rem;
    a{
        color: #6A7BA1;
        &:active{
            color: #556483;
        }
    }
}

.common-comment-wrap{
    .flex();
    .align-items(center);
    .justify-content(space-between);
    line-height: @base*38rem;
    padding: 0 @base*30rem;
    margin-bottom: @base*50rem;

    .access{
        .flex();
        .align-items(center);
    }
    .publish-time{
        .font-dpr(12px);
        color: #828282;
    }
    .show-access{
        margin-left: @base*30rem;
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.member{
              background-image: url("~assets/member_icon.png");
          }
          &.member-join{
              background-image: url("~assets/member_join_icon.png");
          }
          &.member-part{
              background-image: url("~assets/member_part_icon.png");
          }
          &.only-friend{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
          &.part{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
        }
    }
    .icon-wrap{
        .flex();
        .align-items(center);
        height: @base*35rem;
    }
    .read-wrap{
        .flex();
        .align-items(center);
        i{
          display: block;
          width: @base*35rem;
          height: @base*35rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.read{
              background-image: url("~assets/read_icon.png");
          }
        }
        .read-num{
            padding-left: @base*9rem;
            .font-dpr(10px);
            color: #737373;
            line-height: 2;
        }
    }

    .comment-wrap{
        &:active{
            i{
                &.comment{
                    background-image: url("~assets/comment_icon_active.png");
                }
            }

            .comment-num{
                color: #ABABAB;
            }
        }
        .flex();
        .align-items(center);
        margin-left: @base*30rem;
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.comment{
              background-image: url("~assets/comment_icon.png");
          }
      }
      .comment-num{
          padding-left: @base*9rem;
          .font-dpr(10px);
          color: #737373;
      }
    }
}
.common-publish-wrap{
    margin-bottom: @base*50rem;
    padding: 0 @base*30rem;
    .flex();
    .align-items(center);

    line-height: @base*38rem;
    .publish-time{
        .font-dpr(12px);
        color: #828282;
    }
    .show-access{
        margin-left: @base*30rem;
        i{
          display: block;
          width: @base*30rem;
          height: @base*30rem;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
          &.member{
            background-image: url("~assets/member_icon.png");
          }
          &.member-join{
            background-image: url("~assets/member_join_icon.png");
          }
          &.member-part{
            background-image: url("~assets/member_part_icon.png");
          }
          &.only-friend{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
          &.part{
              background-image: url("~assets/default_accessType_someoneCanSee_normal@3x.png");
          }
        }
    }
}

.common-deadline-wrap{
    margin:  @base*10rem @base*30rem @base*34rem;
    .flex();
    .justify-content(space-between);
    .font-dpr(14px);
    color: #828282;
    .deadline{
        [data-dpr='1'] & {
          height: @base*36rem;
          background-position: left top;
        }
        padding-left: @base*46rem;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_deadline.png"),url("~assets/icon_deadline@1.5x.png"));
        &.over{
            .back-url-map(url("~assets/icon_deadline_finished.png"),url("~assets/icon_deadline_finished@1.5x.png"));
        }
    }
    .limit{
        line-height: @base*36rem;
    }
}

.common-sign-list-wrap{
    padding: @base*25rem 0;
    .setLine('top',#E5E5E5);
    .sign-wrap{
        padding: 0 @base*30rem;

        &:active{
            background: #ECEFF0;
        }
        .flex();
        .justify-content(space-between);
        line-height: @base*80rem;

        .num{
            .font-dpr(15px);
            color: #333333;
        }
        .arrow{
            display: block;
            width: @base*16rem;
            height: @base*80rem;
            background: url("~assets/arrow_right.png") no-repeat center center;
            background-size: contain;
        }

    }
}

.common-review-wrap{
    margin-top: @base*60rem;
    padding: 0 @base*30rem;
    .review-title{
        padding-left: @base*50rem;
        .font-dpr(15px);
        color: @noticeColor;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: @base*36rem @base*36rem;
        .back-url-map(url("~assets/icon_review.png"),url("~assets/icon_review@1.5x.png"));
    }
    .review-content{
        margin-top: @base*25rem;
        .font-dpr(17px);
        word-break: normal;
        word-wrap: break-word;
        *{
            max-width: 100%!important;
        }
        table{
            width: 100%!important;
        }
        ul{
            list-style: disc inside;
            padding-left: 1em;
        }
        ol{
            list-style: decimal inside;
            padding-left: 1em;
        }
        img{
            display: block;
            margin: @base*10rem 0;
            width: 100%!important;
            height: auto!important;
            &.first{
                margin-top: @base*30rem;
            }
        }
        video{
            display: block;
            width: 100%!important;
            height: @base*390rem!important;
            background: #000000;
            margin-top: @base*20rem;
        }
        audio{
            display: block;
            width: 100%!important;
        }
        blockquote{
            display: block;
            border-left: @base*8rem solid #d0e5f2;
            padding: @base*5rem @base*10rem;
            margin: @base*10rem 0;
            line-height: 1.4;
            font-size: 100%;
            background-color: #f1f1f1;
        }
        code{
            display: block;
            background-color: #f1f1f1;
            border-radius: @base*3rem;
            padding: @base*3rem @base*5rem;
            margin: 0 @base*3rem;
            .font-dpr(14px);
        }
    }

}

.common-edit-wrap{
    margin-top: @base*65rem;
    padding: 0 @base*40rem;
    text-align: center;
    .edit-btn{
        border: 1px solid #FB5E0A;
        .border-radius-dpr(100px);
        .btn-border(@base*502rem,@base*88rem,17px,#FFFFFF,#FB5E0A,#FB5E0A);
        .font-dpr(17px);
        &:active{
            border-color: #E65202;
            color: #E65202;
        }
    }
}

.common-sign-wrap{
    padding: @base*55rem @base*30rem @base*50rem;
    text-align: center;
    .sign-btn{
        .border-radius(@base*100rem);
        .btn(@base*502rem,@base*88rem,16px,#007AFF,#FFFFFF);
        .font-dpr(16px);
        background-image: linear-gradient(-90deg, #FB5E0A 0%, #F6730A 100%);

        &:active{
            background-image: linear-gradient(-90deg, #E65202 0%, #E56500 100%);
            span{
                opacity: .6;
            }
        }

        &.disabled{
            opacity: .6;

            &:active{
                background-image: linear-gradient(-90deg, #E65202 0%, #E56500 100%);
                span{
                    opacity: .6;
                }
            }
        }
    }
    .communicate-btn{
        .border-radius(@base*100rem);
        .btn(@base*502rem,@base*88rem,16px,#007AFF,#FFFFFF);
        .font-dpr(16px);
        background-image: linear-gradient(-90deg, #FB5E0A 0%, #F6730A 100%);

        &:active{
            background-image: linear-gradient(-90deg, #E65202 0%, #E56500 100%);
            span{
                opacity: .6;
            }
        }
    }
}


.common-circle-header{
    .flex();
    width: 100%;
    height: @base*120rem;
    background: #F0F2F7;
    margin: -@base*50rem 0 @base*121rem;
    position: relative;

    .avatar-wrap{
        position: absolute;
        left: 50%;
        margin-left: -@base*61rem;
        bottom: -@base*30rem;
        width: @base*130rem;
        height: @base*130rem;
        padding: @base*1rem;
        .border-radius(50%);
        background: #F0F2F7;
        figure{
            display: block;
            width: 100%;
            height: 100%;
        }
        .tap-avatar{
            display: block;
            width: 100%;
            height: 100%;
            border: @base*4rem solid #FFFFFF;
            background: #FFFFFF;
            .border-radius(50%);
            .avatar{
                width: 100%;
                height: 100%;
                .border-radius(50%);
            }
        }
    }
}

.common-circle-news-wrap{
    .circle-news-title{
        padding: 0 @base*30rem;
        .font-dpr(24px);
        color: #000000;
        line-height: @base*60rem;
        word-break: normal;
        word-wrap: break-word;
    }
    .circle-news-source{
        padding: 0 @base*30rem;
        margin-top: @base*44rem;
        color: #8C8C8C;
        .font-dpr(17px);
        .source{
            line-height:  @base*24rem;
            margin-right: @base*15rem;
        }
    }
    .circle-news-detail{
        padding: 0 @base*30rem;
        margin-top: @base*66rem;
        margin-bottom: @base*70rem;
        .detail-content{
            .font-dpr(17px);
            margin-bottom: 10px;
            word-break: normal;
            word-wrap: break-word;
            *{
                max-width: 100%!important;
            }
            table{
                width: 100%!important;
            }
            ul{
                list-style: disc inside;
                padding-left: 1em;
            }
            ol{
                list-style: decimal inside;
                padding-left: 1em;
            }
            img{
                display: block;
                margin: @base*10rem 0;
                width: 100%!important;
                height: auto!important;
                &.first{
                    margin-top: @base*30rem;
                }
            }
            video{
                display: block;
                width: 100%!important;
                height: @base*390rem!important;
                background: #000000;
                margin-top: @base*20rem;
            }
            audio{
                display: block;
                width: 100%!important;
            }
            blockquote{
                display: block;
                border-left: @base*8rem solid #d0e5f2;
                padding: @base*5rem @base*10rem;
                margin: @base*10rem 0;
                line-height: 1.4;
                font-size: 100%;
                background-color: #f1f1f1;
            }
            code{
                display: block;
                background-color: #f1f1f1;
                border-radius: @base*3rem;
                padding: @base*3rem @base*5rem;
                margin: 0 @base*3rem;
                .font-dpr(14px);
            }
        }

    }
    .circle-news-code{
        .flex();
        .flex-flow(column);
        .justify-content(space-between);
        .align-items(center);
        margin-top: @base*20rem;
        margin-bottom: 10px;
        padding: @base*110rem @base*30rem;
        height: @base*755rem;
        background: #EFEFEF;
        .name{
            .font-dpr(18px);
            color: #000000;
        }
        .code-wrap{
            width: @base*328rem;
            height: @base*328rem;
            margin-bottom: @base*26rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .word{
            .font-dpr(13px);
            color: #808080;
        }
    }
}
