@import "~assets/mixin.less";

@base:1/75;

.wangeditor-iframe-audio-wrap{
    margin: @base*10rem 0;
    padding: @base*15rem;
    width: 100%;
    height: @base*100rem;
    border: 1px solid #E7E7EB;
    cursor: pointer;
    background-color: #FCFCFC;
    &.loading{
        .wangeditor-iframe-audio-inner{
            background: url('~assets/editor_audio_loading_icon.gif') left center no-repeat;
            background-size: contain;
        }
    }
    &.playing{
        .wangeditor-iframe-audio-inner{
            background: url('~assets/editor_audio_playing_icon.gif') left center no-repeat;
            background-size: contain;
        }
    }
    .wangeditor-iframe-audio-inner{
        padding-left: @base*85rem;
        line-height: @base*70rem;
        background: url('~assets/editor_audio_icon.png') left center no-repeat;
        background-size: contain;
        .wangeditor-iframe-name{
            display: block;
            font-weight: 400;
            .font-dpr(14px);
            color: #222;
            .one-line();
            max-width: 50%;
        }
    }
}
