@import "~assets/mixin.less";

@base:1/75;

.container{
    padding: @base*50rem 0 @base*7rem;
}

.content-wrapper{
  position: relative;
  margin: 0 auto;
  padding-left: @base*132rem;
  padding-right: @base*64rem;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;

  .avatar{
    position: absolute;
    left: @base*28rem;
    top: @base*30rem;
    width: @base*84rem;
    height: @base*84rem;
  }

  .pub-name{
    color: #6a7ba1;
    font-size: @base*30rem;
    margin-bottom: @base*10rem;
  }

  .content{
    padding-top: @base*30rem;

    .content-detail{
      margin-bottom: @base*20rem;
    }

    .content-img{
      & + .content-img{
        margin-top: 20px;
      }

      .pic{
        width: @base*158rem;
        height: @base*158rem;
        background: #fff;

        img{
          display: block;
          margin: 0 auto;
          max-width:100%;
          max-height:100%;
        }
      }

      &.full-pic,
      &.four-pic,
      &.one-row,
      &.two-row{
        display: grid;
        grid-column-gap: @base*10rem;
        grid-row-gap: @base*10rem;
        grid-template-columns: @base*158rem @base*158rem @base*158rem;
      }

      &.full-pic{
        grid-template-rows: @base*158rem @base*158rem @base*158rem;
      }

      &.one-row{
        grid-template-rows: @base*158rem;

      }

      &.two-row,
      &.four-pic{
        grid-template-rows: @base*158rem @base*158rem;
      }

      &.four-pic{
        grid-template-areas: "a b ."
                                    "c d .";

          .pic1{
            grid-area: a;
          }
          .pic2{
            grid-area: b;
          }
          .pic3{
            grid-area: c;
          }
          .pic4{
            grid-area: d;
          }
      }

      &.single-pic{
        max-width: @base*360rem;
        max-height: @base*360rem;

        .is-video{
          position: relative;

          .play-btn{
            position: absolute;
            width: @base*82rem;
            height: @base*82rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url('~assets/video_icon.png') center center no-repeat;
          }
        }
      }

    }

    .share-wrapper{
      position: relative;
      margin-top: @base*20rem;
      width: @base*600rem;
      height: @base*100rem;
      padding: @base*10rem;
      padding-left: @base*100rem;
      background: #f3f3f5;

      .share-pic{
        position: absolute;
        width: @base*80rem;
        height: @base*80rem;
        top: @base*10rem;
        left: @base*10rem;
      }

      .share-content{
        height: @base*64rem;
        .clamp(2);
      }
    }


    .address{
      margin-top: @base*20rem;
      margin-bottom: @base*20rem;
      font-size: @base*24rem;
      color: #6A7BA1;
      .one-line();
    }

    .func{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: @base*30rem;

      .time{
        font-size: @base*24rem;
        color: #737373;
      }

      .leave-msg{
        display: block;
        float: right;
        width: @base*40rem;
        height: @base*30rem;
        background: url('~assets/share_comment.png') right center no-repeat;
      }
    }
  }

}
